<table>
    <% var i; for (i=0; i < quizes.length; i++){ %>
        <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <% } %>
</table>
<p>
    Introduzca el texto para buscar preguntas:
    <form method="get" action="/quizes?search">
        <input type="text" name="search" />
        <p><input type="submit" value="Enviar" /></p>
    </form>
</p>
