<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %></p>
	<input type="text" name="respuesta" value="Responda aquí" />
  <p><input type="submit" value="Enviar" /></p>
</form>